{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}
{% block header %}

{% endblock %}

{% block body %}
    <h1>Profil de {{ participant.pseudo }}</h1>

    {% if participant.photo %}

        <div class="photoProfil ">
            <img class="imgProfil border rounded-circle mb-3 mt-3" src="{{ asset('images/' ~participant.photo)}}" alt="photo de profil">
        </div>
    {% else %}
        <div class="photoProfil ">
        <img class="imgProfil border rounded-circle mb-3 mt-3" src="{{ asset('images/default.jpg.jpg')}}" alt="photo par défaut">
        </div>
    {% endif %}
    <div class="contener-profil mt-5">
        <div class="row">
            <table class="table table-striped">
                <thead>
                <th class="HiddingHeader">INFO PROFIL</th><th></th>
                </thead>
                <tbody>
                <div class="col-8 ">
                    <tr>
                    <td class="label-style col-4 ">Nom:</td><td class="txt-style col-4">{{ participant.nom|capitalize }}</td>
                    </tr>
                    <tr>
                    <td class="label-style col-4">Prénom:</td><td class="txt-style col-4">{{ participant.prenom|capitalize }}</td>
                    </tr>
                    <tr>
                    <td class="label-style col-4">Téléphone:</td><td class="txt-style col-4">{{ participant.telephone }}</td>
                    </tr>
                    <tr>
                    <td class="label-style col-4">Email:</td><td class="txt-style col-4">{{ participant.mail }}</td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}