{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="main">
        <div class="info">Date du jour : {{"now"|date('d/m/Y')}}</div>
        <div class="info">Participant : {{ app.user.prenom }} </div>

        <h1>Filtrer les sorties</h1>

        <div>
            {{ form_start(form)}}
            {{ form_widget(form) }}
                <button class="btn btnValidation" type="submit" name="rechercher">Rechercher</button>
            {{ form_end(form) }}
        </div>

        <div>
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th class="intitule" scope="col">Nom de la sortie</th>
                        <th class="intitule" scope="col">Date de la sortie</th>
                        <th class="intitule" scope="col">Clôture</th>
                        <th class="intitule" scope="col">Inscrits/places</th>
                        <th class="intitule" scope="col">Etat</th>
                        <th class="intitule" scope="col">Inscrit</th>
                        <th class="intitule" scope="col">Organisateur</th>
                        <th class="intitule" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sortie in sorties %}
                            <tr>
                                <td class="intitule1">{{ sortie.nom }}</td>
                                <td class="intitule">{{ sortie.dateHeureDebut.format('d/m/y h:i') }}</td>
                                <td class="intitule">{{ sortie.dateLimiteInscription.format('d/m/y') }}</td>
                                <td class="intitule"><span class="js-inscrit">{{ sortie.participants.count }}</span>/{{ sortie.nbInscriptionsMax }}</td>
                                <td class="intitule">{{ sortie.etat.libelle }}</td>
                                <td class="intitule">
                                    {% if sortie.participants.contains(app.user) %}
                                        X
                                    {% endif %}
                                </td>
                                <td class="tdHover"><a class="pseudoDetail" href="{{ path('sortir_detail_participant', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</a></td>

                                {% if sortie.organisateur.id == app.user.id %}
                                        {% if sortie.etat.libelle == 'créée' %}
                                            <td class="intitule"><a href="{{ path('sortie_sortie_modifier', {'id': sortie.id}) }}" class="btn btn-outline-primary">Modifier</a>
                                                <a  href="{{ path('sortie_sortie_publier', {'id': sortie.id}) }}" class="btn btn-outline-primary">Publier</a></td>
                                            {% elseif sortie.etat.libelle == 'ouverte'%}
                                            <td class="intitule"><a href="{{ path('sortie_sortie_afficher', {'id': sortie.id}) }}" class="btn btn-outline-primary">Afficher</a>
                                                <a href="{{ path('sortie_sortie_annulation', {'id': sortie.id}) }}" class="btn btn-outline-primary">Annuler</a>
                                            </td>
                                                {% elseif sortie.etat.libelle == 'annulée' %}
                                                    <td class="intitule"><a href="{{ path('sortie_sortie_afficher', {'id': sortie.id}) }}" class="btn btn-outline-primary">Afficher</a></td>
                                                    {% elseif sortie.etat.libelle == 'cloturée' %}
                                                        <td class="intitule"><a href="{{ path('sortie_sortie_afficher', {'id': sortie.id}) }}" class="btn btn-outline-primary">Afficher</a></td>
                                                        {% elseif sortie.etat.libelle == 'passée' %}
                                                            <td class="intitule"></td>
                                        {% endif %}
                                {% else %}
                                        {% if sortie.etat.libelle == 'ouverte' %}
                                            {% if sortie.participants.contains(app.user) %}
                                                <td class="intitule"><a href="{{ path('sortir_sortie_participant_desinscription', {'id': sortie.id}) }}" class="btn btn-outline-primary ">Se désister</a>
                                                    <a href="{{ path('sortie_sortie_afficher', {'id': sortie.id}) }}" class="btn btn-outline-primary">Afficher</a></td>
                                                {% else %}
                                                    <td class="intitule"><a href="{{ path('sortir_sortie_participant', {'id': sortie.id}) }}" class="btn btn-outline-primary ">S'inscrire</a>
                                                        <a href="{{ path('sortie_sortie_afficher', {'id': sortie.id}) }}" class="btn btn-outline-primary">Afficher</a></td>
                                            {% endif %}
                                        {% endif %}
                                    {% if sortie.etat.libelle == 'activité en cours' %}
                                            <td class="intitule"><a href="{{ path('sortie_sortie_afficher', {'id': sortie.id}) }}" class="btn btn-outline-primary">Afficher</a></td>
                                        {% endif %}
                                        {% if sortie.etat.libelle == 'cloturée' %}
                                            {% if sortie.participants.contains(app.user) %}
                                                <td class="intitule"><a href="{{ path('sortir_sortie_participant_desinscription', {'id': sortie.id}) }}" class="btn btn-outline-primary ">Se désister</a>
                                                    <a href="{{ path('sortie_sortie_afficher', {'id': sortie.id}) }}" class="btn btn-outline-primary">Afficher</a></td>
                                            {% else %}
                                                <td class="intitule"><a href="{{ path('sortie_sortie_afficher', {'id': sortie.id}) }}" class="btn btn-outline-primary">Afficher</a></td>
                                            {% endif %}


                                {% endif %}
                                {% endif %}
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('sortie_sortie_creation',{'id': app.user.id})}}" class="btn btnValidation">Créer une sortie</a>
    </div>
{% endblock %}