{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>Page d'accueil!</h1>

    <a href="{{ path('sortie_creation',{'id': app.user.id})}}" class="">Créer une sortie</a>

    <div>
        {{ form_start(form)}}
        {{ form_widget(form) }}
            <button type="submit" name="rechercher">Rechercher</button>
        {{ form_end(form) }}
    </div>

    <div>
        {% for sortie in sorties %}
                {{ sortie.nom }}
                {{ sortie.id }}
        {% endfor %}
    </div>

{% endblock %}