{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="main">
        <div class="info">Date du jour : {{"now"|date('d/m/Y')}}</div>
        <div class="info">Participant : {{ app.user.prenom }} </div>

        <h2>Filtrer les sorties</h2>

        <div>
            {{ form_start(form)}}
            {{ form_widget(form) }}
                <button class="btn btnValidation" type="submit" name="rechercher">Rechercher</button>
            {{ form_end(form) }}
        </div>

        <div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">Nom de la sortie</th>
                        <th scope="col">Date de la sortie</th>
                        <th scope="col">Clôture</th>
                        <th scope="col">Inscrits/places</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Inscrit</th>
                        <th scope="col">Organisateur</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sortie in sorties %}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut.format('d/m/y h:i') }}</td>
                            <td>{{ sortie.dateLimiteInscription.format('d/m/y') }}</td>
                            <td><span class="js-inscrit">{{ sortie.participants.count }}</span>/{{ sortie.nbInscriptionsMax }}</td>
                            <td>{{ sortie.etat.libelle }}</td>
                            <td>inscrit</td>
                            <td><a href="{{ path('detail_participant', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</a></td>
                            <td><a href="{{ path('sortie_participant', {'id': sortie.id}) }}" class="btn btn-outline-primary">S'inscrire</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="btn btnValidation " ><a href="{{ path('sortie_creation',{'id': app.user.id})}}" class=""></a>Créer une sortie</button>
    </div>
{% endblock %}