{% extends 'base.html.twig' %}

{% block title %}Afficher une sortie{% endblock %}

{% block body %}
    <h1>Afficher une sortie</h1>
    <div>
        <table>
            <tr>
                <td>Nom de la sortie: <td>
                <td>{{ sortie.nom }}<td>
                <td>Campus: <td>
                <td>{{ sortie.campus }}<td>
            </tr>
            <tr>
                <td>Date et heure de la sortie: <td>
                <td>{{ sortie.dateHeureDebut.format('d/m/y h:i') }} }}<td>
                <td>Lieu: <td>
                <td>{{ sortie.lieu.nom }}<td>
            </tr>
            <tr>
                <td>Date limite d'inscription: <td>
                <td>{{ sortie.dateLimiteInscription.format('d/m/y') }}<td>
                <td>Rue: <td>
                <td>{{ sortie.lieu.rue}}<td>
            </tr>
            <tr>
                <td>Nombre de places: <td>
                <td>{{ sortie.nbInscriptionsMax }}<td>
                <td>Code postal: <td>
                <td>{{ sortie.lieu.ville }}<td>
            </tr>
            <tr>
                <td>Durée: <td>
                <td>{{ sortie.duree }} minutes<td>
                <td>Latitude: <td>
                <td><td>
            </tr>
            <tr>
                <td>Description et infos: <td>
                <td>{{ sortie.infosSortie }}<td>
                <td>Longitude: <td>
                <td><td>
            </tr>
            </tbody>
        </table>
    <h2>Liste des<div>
        <div>
        <table class="table mt-4">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ sortie.participants.nom }}</td>
                    <td>{{ sortie.participants.prenom }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}