{% extends 'base.html.twig' %}

{% block title %}Afficher une sortie{% endblock %}

{% block body %}

    <h1>Afficher une sortie</h1>

<div id="tabMarge" class="tableaux">
    <table class="table table-striped table-bordered ">

        <thead>
        <tr>

            <th scope="col">Nom de la sortie</th>
            <td scope="col">{{ sortie.nom }}</td>
        </tr>
        </thead>
        <tbody>
        <tr>

            <th>Date et heure de la sortie</th>
            <td>{{ sortie.dateHeureDebut.format('d/m/y h:i') }}</td>
        </tr>
        <tr>

            <th>Date limite d'inscription</th>
            <td>{{ sortie.dateLimiteInscription.format('d/m/y') }}</td>
        </tr>
        <tr>

            <th>Nombre de places</th>
            <td>{{ sortie.nbInscriptionsMax }}</td>
        </tr>
        <tr>

            <th>Durée</th>
            <td> {{ sortie.duree.format('h')*60 + sortie.duree.format('i') }} minutes</td>
        </tr>
        <tr>

            <th>Description et infos</th>
            <td>{{ sortie.infosSortie }}</td>
        </tr>
        </tbody>
    </table>
</div>

    <div class="tableaux">
        <table class="table table-striped table-bordered ">
            <thead>
            <tr>

                <th scope="col">Campus</th>
                <td>{{ sortie.campus }}</td>
            </tr>
            </thead>
            <tbody>
            <tr>

                <th>Lieu</th>
                <td>{{ sortie.lieu.nom }}</td>
            </tr>
            <tr>

                <th>Rue</th>
                <td>{{ sortie.lieu.rue}}</td>
            </tr>
            <tr>

                <th>Code postal</th>
                <td>{{ sortie.lieu.ville.codePostal }}</td>
            </tr>
            <tr>

                <th>Latitude</th>
                <td>non renseigné</td>
            </tr>
            <tr>

                <th>Longitude</th>
                <td>non renseigné</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="participantsInscrits">
    <h2>Liste des participants inscrits</h2>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Nom</th>
                </tr>
                {% for participant in sortie.participants %}
                <tr>
                    <td>{{ participant.pseudo }}</td>
                    <td>{{ participant.nom }} {{ participant.prenom }}</td>
                </tr>
                {% endfor %}
                </thead>
            </table>
    </div>

{% endblock %}