{% extends 'base.html.twig' %}

{% block title %}Afficher une sortie{% endblock %}

{% block body %}

    <h1>Afficher une sortie</h1>

<div id="tabMarge">
    <div class="tableaux">
    <table class="table table-striped table-bordered ">

        <thead>
        <tr>
            <td>Nom de la sortie</td>
            <td class="intitule">{{ sortie.nom }}</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Date et heure de la sortie</th>
            <td class="intitule" >{{ sortie.dateHeureDebut.format('d/m/y h:i') }}</td>
        </tr>
        <tr>
            <th>Date limite d'inscription</th>
            <td class="intitule">{{ sortie.dateLimiteInscription.format('d/m/y') }}</td>
        </tr>
        <tr>
            <th>Nombre de places</th>
            <td class="intitule">{{ sortie.nbInscriptionsMax }}</td>
        </tr>
        <tr>
            <th>Durée</th>
            <td class="intitule"> {{ sortie.duree.format('h')*60 + sortie.duree.format('i') }} minutes</td>
        </tr>
        <tr>            <th>Description et infos</th>
            <td class="intitule">{{ sortie.infosSortie }}</td>
        </tr>
        </tbody>
    </table>
    </div>

    <div class="tableaux">
        <table class="table table-striped table-bordered ">
            <thead>
            <tr>
                <td scope="col">Campus</td>
                <td class="intitule">{{ sortie.campus }}</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Lieu</th>
                <td class="intitule">{{ sortie.lieu.nom }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td class="intitule">{{ sortie.lieu.rue}}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td class="intitule">{{ sortie.lieu.ville.codePostal }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td class="intitule">non renseigné</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td class="intitule">non renseigné</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    <div class="participantsInscrits">
    <h2>Liste des participants inscrits</h2>

            <table class="table table-striped">
                <thead>
                <tr>
                    <td class="intitule" scope="col">Pseudo</td>
                    <td class="intitule" scope="col">Nom</td>
                </tr>
                </thead>
                <tbody>

                {% for participant in sortie.participants %}
                <tr>
                    <td class="tdHover"><a class="pseudoDetail" href="{{ path('sortir_detail_participant', {'id': participant.id}) }}">{{ participant.pseudo }}</a> </td>
                    <td class="intitule">{{ participant.nom }} {{ participant.prenom }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if sortie.participants.empty %}
                <div class="intitule">Aucun participant n'est inscrit à cette sortie pour le moment</div>
            {% endif %}
    </div>

{% endblock %}