{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>

    {{ form_start(sortieForm) }}
    {{ form_row(sortieForm.nom) }}
    {{ form_row(sortieForm.dateHeureDebut) }}
    {{ form_row(sortieForm.duree) }}
    {{ form_row(sortieForm.dateLimiteInscription) }}
    {{ form_row(sortieForm.nbInscriptionsMax) }}
    {{ form_row(sortieForm.infosSortie) }}
    <div class="btnNewLieu">
    {{ form_row(sortieForm.lieu) }}
    <a type="button" href ="{{ path('sortie_sortie_add_Lieu')}}" class="btn btn-dark">+</a>
    </div>

    <button class="btn btnValidation" type="submit" name="creer" value="creer">Enregistrer</button>
    <button class="btn btnValidation" type="submit" name="publier" value="publier">Publier la sortie</button>
    <a href="{{ path('sortir_app_accueil') }}" class="btn btnValidation" type="reset">Annuler</a>

    {{ form_end(sortieForm) }}



{% endblock %}